ul, ol{
  border: 1px solid;
  width: 200px;
  border-color: black;
}
ul{
  background-color: lightgreen;
}
ol{
  background-color: skyblue;
  color: white;
}
ul > li{
  text-decoration: underline wavy 1px brown;
}
ol > li{
  text-decoration: underline dotted 2px indigo;
}